@import "../variables";

header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  box-shadow: $nav-shadow;
  background-color: #fff;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &__logo {
    font-size: min(7vw, 3.6rem);
    color: $dark-text;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    gap: 1rem;
  }

  &__link {
    padding: 0.5rem;
    font-weight: 500;
    color: rgba(17, 46, 63, 0.5);
    text-transform: capitalize;
    font-size: 1.6rem;
    transition: color 0.3s;

    &:hover {
      color: $dark-text;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.6rem;
  }

  &__user-name {
    font-weight: 500;
    color: $dark-text;
    font-size: 1.6rem;
  }

  &__btns {
    display: flex;
    gap: 1rem;
  }

  &__btn {
    padding: 0.5rem;

    svg {
      color: $dark-text;
      font-size: 2rem;
    }
  }

  &__btn--cart {
    position: relative;
  }

  &__cart-amount {
    position: absolute;
    top: -1rem;
    right: -0.3rem;
    font-size: 1.5rem;
    color: $main;
    font-weight: 500;
  }

  &__box {
    position: relative;
  }

  &__dropdown {
    position: absolute;
    top: 5.5rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: $card-shadow;
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
  }

  &__dropdown-link {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: left;
    font-size: 1.6rem;
    color: rgba(17, 46, 63, 0.5);
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(17, 46, 63, 0.3);
      color: white;
    }
  }

  &__burger {
    display: none;
  }
  &__close {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav {
    &__list {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      z-index: 70000;
      transform: translateY(-100%);
      transition: transform 0.4s;
    }

    &__list.active {
      transform: translateY(0);
    }

    &__link {
      color: $dark-text;
      font-size: 6vw;
      padding: 1rem;

      &:hover {
        color: $main;
      }
    }

    &__burger {
      display: block;
      padding: 0.7rem;
      svg {
        font-size: 2.5rem;
        color: $dark-text;
      }
    }

    &__close {
      display: block;
      position: fixed;
      right: 2rem;
      top: 5rem;
      padding: 0.7rem;
      svg {
        font-size: 2.5rem;
        color: $dark-text;
      }
    }
  }
}
