.categories-list {
  margin-top: 12rem;
  padding: 4rem 0;
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 4rem;
  }

  &__heading {
    font-size: min(7vw, 3rem);
    margin-bottom: 6rem;
  }
}

@media (max-width: 768px) {
  .categories-list {
    margin-top: 8rem;

    &__heading {
      margin-bottom: 4rem;
    }
  }
}
