@import "../../variables";

.order-summary {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: $card-shadow;
  padding: 3rem;
  border-radius: 0.5rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    font-size: min(7vw, 2.7rem);
    margin-bottom: 1rem;
    text-align: center;
  }
}
